@import "tailwindcss";

@theme {
  --color-primary: #0b2646;
  --color-primary-hover: #061528;
  --color-background: #f3f7ff;
  --color-tahealBlue: #0b2646;
}

body {
  background-color: var(--color-background);
  color: #1a202c;
}
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
